
  section {
    background-color: aliceblue;
    max-width: 1200px;
    width: 90%;
    margin: 100px auto 0 auto;
  }

  h1{
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
  }
  
  #data ul {
    display: flex;
    justify-content: space-between;
  }
  
  #data ul li p {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .buttons {
    text-align: center;
    margin-top: 50px;
  }
  
  .buttons button {
    width: 160px;
    height: 30px;
    border: 1px solid rgb(255, 0, 212);
    border-radius: 30px;
    cursor: pointer;
  }
  
  #last.active,
  #next.active {
    background-color: bisque;
    transition: all 0.3s ease;
  }
  